<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .linha {
    font-size: 21px;
    font-family: ABCDEE+Trebuchet MS;
    color: #000000;
  }

  .info {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>


<div #page1div id="page1div" style="position:relative;width:1300px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="../../../../../../assets/images/certificados/modelos/Certificado NR 11 - Mov. Arm. Cargas001.png"
       alt="background image"/>

  <div style="position:absolute;top:40px; padding: 15px">

    <p style="text-align:center;" class="titulo"><b>CERTIFICADO</b></p>

    <br>
    <br>
    <br>
    <br>

    <p style="text-align:center;" class="subtitulo"><b>DE CONCLUSÃO DE TREINAMENTO</b></p>

    <br>
    <br>

    <p style="text-align:center; text-transform: uppercase" class="subtitulo"><b>{{nome}} - CPF: {{cpf}}</b></p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p class="texto">
      Empregado da empresa: <b>{{razaoSocial}}</b>, CNPJ: <b>{{cnpj}}</b>, concluiu com aproveitamento satisfatório o
      treinamento de
      <b>TRANSPORTE, MOVIMENTAÇÃO, ARMAZENAGEM E MANUSEIO DE MATERIAIS</b>, em conformidade com a NR 11, anexe I letra
      E, da Portaria n.º 3.214, de 08 de junho de 1978, do Ministério do Trabalho e Emprego, ministrado pela empresa:
      <b>TRENYSEG TREINAMENTOS & DOCUMENTAÇÕES</b>,
      CNPJ: <b>27.211.266/0001-30</b>, carga horária de {{horas}} horas.
    </p>

    <br>
    <br>
    <br>
    <br>

    <p style="text-align:right" class="texto">Cidade: {{cidade}}, {{dataCurso}}.</p>

  </div>


  <app-assinaturas [nome]="nome" [assinatura1]="assinatura1" [assinatura2]="assinatura2" [isAssinatura]="true"></app-assinaturas>

</div>




