<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 34px;
    font-family: Arial, Bold;
    color: #ff0000;
  }

  .ft01 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
    line-height: 21px;
  }

  .ft02 {
    font-size: 29px;
    line-height: 35px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 29px;
    line-height: 36px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>


<div id="page2-div" style="position:relative;width:1300px;height:918px;" class="inner">
  <img width="1300" height="919" src="assets/images/certificados/modelos/Certificado Ferramens Rotativas002.png"
       alt="background image"/>
  <p style="position:absolute;top:75px;left:21px;white-space:nowrap" class="ft00"><b>CONTEÚDO PROGRAMÁTICO</b></p>
  <p style="position:absolute;top:118px;left:31px;white-space:nowrap" class="ft01">
    Introdução campo de aplicação.<br/>
    Referências legais e normativas.<br/>
    Definições e responsabilidades.<br/>
    Noções básicas sobre acidentes de trabalho com ferramentas abrasivas e rotativas.<br/>
    características de risco no uso de ferramentas rotativas.<br/>
    Posturas durante o trabalho.<br/>
    Interferências de agentes ambientais.<br/>
    Riscos reconhecidos para o uso de ferramentas abrasivas.<br/>
    Reconhecendo as ferramentas abrasivas.<br/>
    O que é ferramenta abrasiva.<br/>
    Considerações sobre o rebolo abrasivo disco de corte e disco de desbaste  equipamentos de
    conceitos sobre utilização correta dos abrasivos.<br/>
    Regras básicas de segurança na operação de ferramentas abrasivas e rotativas.<br/>
    Documentações legais.<br/>
    Check List.<br/>
    Ferramentas Manuais.<br/>
    Proteção Individual e coletiva – EPI´S / EPC.<br/>
  </p>
</div>

