<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 12- NR 31 - Seg. Op. Maq. Agricolas002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Conscientização da Importância do Manual de Instruções de Máquinas e Equipamentos;<br/>
    Análise Preliminar de Riscos – APR;<br/>
    Apresentação e componentes da máquina;<br/>
    Avaliação e controle de riscos;<br/>
    Abate/corte de relvas;<br/>
    Animais peçonhentos;<br/>
    Conjuntos de corte e proteções;<br/>
    Preparação/Segurança na operação;<br/>
    Equipamento de Proteção Individual – EPI;<br/>
    Equipamento de Proteção Coletiva – EPC;<br/>
    Procedimentos seguros e medidas;<br/>
    Legislação aplicada a operadores  (NR 12 e NR 31);<br/>
    Legislação de segurança no trabalho;<br/>
    Abastecimento;<br/>
    Noções sobre manutenção e conservação;<br/>
    Noções sobre meio ambiente;<br/>
    Prática com segurança;<br/>
    Segurança no trabalho;<br/>
    Técnicas operacionais;<br/>
    Trabalho a céu aberto;<br/>
    Uso de ferramentas manuais;<br/>
    Noções de primeiros socorros;<br/>
  </p>
</div>

