<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado%20de%20Op.%20de%20Agrotoxico002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Conceitos e considerações sobre agrotóxico;<br>
    O que é agrotóxico;<br>
    Interpretação do rótulo dos agrotóxicos: inseticida, fungicida, acaricida, herbicida, adjuvantes e produtos afins;<br>
    Identificação de Riscos;<br>
    Conhecimento das formas de exposição direta e indireta aos agrotóxicos;<br>
    Rotulagem e sinalização das áreas de risco;<br>
    Uso de vestimentas e equipamentos de proteção individual;<br>
    Manipulação e uso de agrotóxico;<br>
    Transporte, armazenamento, preparo, aplicação;<br>
    EPI – Equipamento de Proteção Individual: descarte, limpeza e manutenção das roupas, vestimentas e equipamentos de
    proteção individual, responsabilidade;<br>
    Principais vias de penetração: vias de exposição, ocular, inalação térmica, oral;<br>
    Sinais e sintomas de intoxicação e de primeiros socorros: contato com a pele, contato com os olhos, ingestão,
    inalação;<br>
    Tipos de pulverizadores;<br>
    Procedimentos preconizados na NR 31.8 quanto ao uso de agrotóxicos e afins.<br>
    Objetivos da Técnica de Aplicação de Agrotóxicos.<br>
    Segurança: vias de absorção, EPI, acidentes, toxicologia e primeiros socorros.<br>
    Produtos.<br>
    Equipamento, aplicação (tipos, componentes, bicos, peneiras).<br>
    Revisão e manutenção de equipamentos.<br>
    Calibração.<br>
    Preparo de calda.<br>
    Tríplice lavagem.<br>
    Aplicação.<br>
    Manutenção pós-aplicação.<br>
    Tipos de vestimentas.<br>
  </p>
</div>

