<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 11 - Op. Trator Agricola002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Acessórios, Tipos e Classificação de Trator Agrícola.<br/>
    Estabilidade do Trator Agrícola.<br/>
    Especificação Técnica do Trator Agrícola.<br/>
    Noções sobre Legislação de Trânsito.<br/>
    Legislação de Segurança e Saúde no Trabalho – Portaria nº 3.214/78 do MTE.<br/>
    Estudo da NR 12.<br/>
    Componentes e suas Funções.<br/>
    Identificação dos Comandos e Dispositivos de Controle.<br/>
    Campo de Aplicação do Trator Agrícola.<br/>
    Manutenção Operacional do Trator Agrícola.<br/>
    Procedimentos de Operação do Trator Agrícola.<br/>
    Os Princípios de Segurança na Utilização do Trator Agrícola.<br/>
    Permissão de trabalho.<br/>
    Sistema de Bloqueio de Funcionamento do Trator Agrícola Durante Operações de Inspeção, Limpeza, Lubrificação e Manutenção.<br/>
    Inspeção, Regulagem e Manutenção com Segurança.<br/>
    Noções sobre Acidentes e Doenças Decorrentes da Exposição aos Riscos Existentes no Trator Agrícola.<br/>
    Medidas de Controle dos Riscos: EPC e EPI.<br/>
    Operação com Segurança do Trator Agrícola.<br/>
    Sinalização de Segurança.<br/>
    CHECK LIST – Inspeção Diária no Trator Agrícola.<br/>
    Identificação dos Componentes e dos Instrumentos do Painel.<br/>
    Procedimentos para o Funcionamento do Trator Agrícola.<br/>
    Aplicação de Direção Defensiva na Operação de Trator Agrícola.<br/>
    Noções sobre Prestação de Primeiros Socorros.<br/>
    Avaliação Prática.<br/>
  </p>
</div>


