<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 11 - Op. Transpaleteira002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Tipos de transpaleteiras;<br/>
    Características de cada equipamento;<br/>
    Definições;<br/>
    Inspeções diárias;<br/>
    Sinalização nas operações;<br/>
    Atitudes seguras e inseguras;<br/>
    Uso de EPI’s;<br/>
    Trabalho em equipe;<br/>
    NR11- Normas de Segurança;<br/>
    Equilíbrio da transpaleteiras;<br/>
    Gráfico de carga;<br/>
    Componentes da transpaleteiras;<br/>
    Manutenção da transpaleteiras;<br/>
    Segurança do trabalho;<br/>
    Riscos de acidentes;<br/>
    Causas de acidentes;<br/>
    Medidas preventivas;<br/>
    Treinamento prático;<br/>
    Normas de segurança na operação dos equipamentos;<br/>
    Distâncias de sinalização;<br/>
    Checagem dos equipamentos;<br/>
    Demonstração da utilização correta dos equipamentos;<br/>
    Demonstração da utilização correta dos EPI’s;<br/>
  </p>
  <p style="position:absolute;top:212px;left:811px;white-space:nowrap" class="ft03">
    Trabalho em equipe;<br/>
    Normas de segurança;<br/>
    Equilíbrio da transpaleteiras;<br/>
    Gráfico de carga;<br/>
    Componentes da transpaleteiras;<br/>
    Manutenção da transpaleteiras;<br/>
    Teste prático com transpaleteiras;<br/>
    Noções de higiene e segurança no trabalho.<br/>
  </p>
</div>

