<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 11 - Op. Mini Pá Carregadeira002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Relacionamento interpessoal no Trabalho;<br/>
    Tecnologia / Prática profissional;<br/>
    Segurança no Trabalho;<br/>
    Acidentes no Trabalho: Causas e Conseqüências;<br/>
    Prevenção a acidentes no trabalho – NR 18;<br/>
    Equipamentos de Proteção (E.P.I.) – NR 6;<br/>
    Transporte e Movimentação de Materiais – NR 11;<br/>
    Proteção de Maquinas e Equipamentos – NR 12;<br/>
    Segurança na operação e responsabilidades civil e criminal;<br/>
    Legislação de transito (Código de transito brasileiro);<br/>
    Apresentação do Equipamento (Máquina);<br/>
    Noções de Terraplanagem;<br/>
    Princípios de equilíbrio;<br/>
    Lubrificação, limpeza, conservação e cuidados básicos;<br/>
    Procedimentos corretos de operação;<br/>
    Verificação da manutenção diária pelo operador (conforme normas);<br/>
    Identificação das partes da máquina (motor, transmissão, diferencial e componentes hidráulicos);<br/>
    Identificação das alavancas de comando e instrumentos do painel;<br/>
    Operação com ou sem carga;<br/>
    Avaliação Prática.<br/>
  </p>
</div>

