<div>
  <div>
    <div *ngIf="assinatura1 === '1'">
      <div style="position:absolute;top:687px;left:98px;white-space:nowrap" class="linha"><img width="300" height="150"
                                                                                               src="../../../../../../assets/images/certificados/modelos/assinatura.png"
                                                                                               alt="background image"/>
      </div>
      <div style="position:absolute;top:787px;left:88px;white-space:nowrap">
        _____________________________________________
        <p style="text-align: center">
          Alan Fabrício dos Santos Rocha<br>
          Técnico em Segurança do Trabalho <br>
          Instrutor de treinamentos SST<br>
          MTE: DF/000505.3
        </p>
      </div>
    </div>

    <div *ngIf="assinatura1 === '2'">
      <div style="position:absolute;top:697px;left:98px;white-space:nowrap" class="linha"><img width="300" height="120"
                                                                                               src="../../../../../../assets/images/certificados/modelos/assinatura2.png"
                                                                                               alt="background image"/>
      </div>
      <div style="position:absolute;top:787px;left:88px;white-space:nowrap">
        _____________________________________________
        <p style="text-align: center">
          Melquezedeque do Vale Nunes<br>
          Eng. de Segurança do Trabalho<br>
          CREA/CONFEA: 240920706-5<br>
        </p>
      </div>
    </div>

    <div *ngIf="assinatura1 === '3'">
      <div style="position:absolute;top:717px;left:98px;white-space:nowrap" class="linha"><img width="270" height="100"
                                                                                               src="../../../../../../assets/images/certificados/modelos/assinatura3.png"
                                                                                               alt="background image"/>
      </div>
      <div style="position:absolute;top:787px;left:88px;white-space:nowrap">
        _____________________________________________
        <p style="text-align: center">
          Higor Candido Ribeiro<br>
          Engenheiro Eletricista<br>
          CRE: 21130 D-DF<br>
        </p>
      </div>
    </div>
  </div>


  <div *ngIf="isAssinatura">
    <div *ngIf="assinatura2 === '1'">
      <div style="position:absolute;top:687px;left:498px;white-space:nowrap" class="linha"><img width="300" height="150"
                                                                                               src="../../../../../../assets/images/certificados/modelos/assinatura.png"
                                                                                               alt="background image"/>
      </div>
      <div style="position:absolute;top:787px;left:488px;white-space:nowrap">
        _____________________________________________
        <p style="text-align: center">
          Alan Fabrício dos Santos Rocha<br>
          Técnico em Segurança do Trabalho <br>
          Instrutor de treinamentos SST<br>
          MTE: DF/000505.3
        </p>
      </div>
    </div>

    <div *ngIf="assinatura2 === '2'">
      <div style="position:absolute;top:697px;left:498px;white-space:nowrap" class="linha"><img width="300" height="120"
                                                                                               src="../../../../../../assets/images/certificados/modelos/assinatura2.png"
                                                                                               alt="background image"/>
      </div>
      <div style="position:absolute;top:787px;left:488px;white-space:nowrap">
        _____________________________________________
        <p style="text-align: center">
          Melquezedeque do Vale Nunes<br>
          Eng. de Segurança do Trabalho<br>
          CREA/CONFEA: 240920706-5<br>
        </p>
      </div>
    </div>

    <div *ngIf="assinatura2 === '3'">
      <div style="position:absolute;top:717px;left:498px;white-space:nowrap" class="linha"><img width="270" height="100"
                                                                                               src="../../../../../../assets/images/certificados/modelos/assinatura3.png"
                                                                                               alt="background image"/>
      </div>
      <div style="position:absolute;top:787px;left:488px;white-space:nowrap">
        _____________________________________________
        <p style="text-align: center">
          Higor Candido Ribeiro<br>
          Engenheiro Eletricista<br>
          CRE: 21130 D-DF<br>
        </p>
      </div>
    </div>
  </div>


  <div style="position:absolute;top:787px;left:935px;white-space:nowrap">
    ___________________________________________
    <p style="font-size: 12px; text-align: center" class="info">{{nome}}</p>
  </div>

</div>
