<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Cetificado NR 23 - Brigada de Incendio002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:369px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:412px;left:11px;white-space:nowrap" class="ft03">
    Introdução NR 23;<br/>
    Teoria do Fogo;<br/>
    Triângulo do Fogo;<br/>
    Temperatura X Calor;<br/>
    Classificação e características das Classes de Incêndio: Classe A, Classe B (Ponto de Fulgor, Combustão e Ignição Espontânea), Classe C e Classe D;<br/>
    Classificação quanto a Intensidade, Proporção e Meios de Combate;<br/>
    Métodos de Extinção e suas Aplicações: Resfriamento, Abafamento e Isolamento;<br/>
    Agentes Extintores: Água, CO2, Espuma Mecânica e Pó Químico Seco – características, aplicações e restrições;<br/>
    Equipamentos de Proteção Individual – E.P.I., empregados para o combate a incêndio.;<br/>
    Equipamentos de Combate a Incêndio: Extintores portáteis, móveis (carretas extintoras) e Sistema semi-automático (fixo) de combate a incêndio: <br/>hidrantes, Caixas de abrigo, mangueiras, esguichos e etc;
    Inspeção dos Equipamentos de Combate a Incêndios: Fixos e Portáteis;<br/>
    Equipamentos Automáticos de Combate a Incêndio – Sprinklers (chuveiros de emergência);<br/>
    Plano de Emergência: Procedimentos básicos para abandono de área sinistrada;<br/>
    Noções Básicas De Primeiros Socorros e Emergência:<br/>
    Prática no campo de treinamento.<br/>
  </p>
</div>
