<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 11 - Op. Trator Esteira002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Alavancas de Comando;<br/>
    Causas de Acidente;<br/>
    Check-List;<br/>
    Comunicação;<br/>
    Conceito de Acidente;<br/>
    Diagnóstico das Habilidades e Atitudes do Operador;<br/>
    EPI – Equipamento de Proteção Individual;<br/>
    Legislação;<br/>
    NR - 11<br/>
    Manutenção Preventiva;<br/>
    Movimentação do Trator;<br/>
    Operação do Equipamento;<br/>
    Painel de Instrumentos;<br/>
    Prevenção e Combate a Incêndio;<br/>
    Princípios de Primeiros Socorros;<br/>
    Responsabilidades;<br/>
    Riscos Ambientais;<br/>
    Segurança na Operação;<br/>
    Sistema Hidráulico;<br/>
    Avaliação Prática.<br/>
  </p>
</div>
