<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 24px;
    font-family: Arial;
    color: #000000;
  }

  .ft01 {
    font-size: 24px;
    font-family: Arial, Bold;
    color: #000000;
  }

  .ft02 {
    font-size: 24px;
    font-family: ABCDEE+Calibri;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft04 {
    font-size: 13px;
    font-family: Arial;
    color: #ffffff;
  }

  .ft05 {
    font-size: 13px;
    font-family: ABCDEE+Arial Black;
    color: #575757;
  }

  .ft06 {
    font-size: 59px;
    font-family: Arial, Bold;
    color: #000000;
  }

  .ft07 {
    font-size: 23px;
    font-family: Arial, Bold;
    color: #000000;
  }

  .ft08 {
    font-size: 17px;
    font-family: Arial;
    color: #ffffff;
  }

  .ft09 {
    font-size: 17px;
    font-family: Arial, Bold;
    color: #ffffff;
  }

  .ft010 {
    font-size: 60px;
    font-family: ABCDEE+Arial Black;
    color: #205868;
  }

  .ft011 {
    font-size: 24px;
    line-height: 24px;
    font-family: Arial;
    color: #000000;
  }

  .ft012 {
    font-size: 17px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>


<div #page1div id="page1div" style="position:relative;width:1300px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="../../../../../../assets/images/certificados/modelos/Certificado RAC 01 Vale001.png"
       alt="background image"/>

  <div style="position:absolute;top:40px; padding: 15px">

    <p style="position:absolute;top:1px;left:215px;white-space:nowrap" class="ft06"><b>CETIFICADO</b></p>
    <br>
    <br>
    <br>
    <p class="texto" style="width: 820px;font-size: 24px;">
      <b>TRENYSEG TREINAMENTOS & DOCUMENTAÇÕES</b>, CNPJ: <b>27.211.266/0001-30</b>, certifico que o empregado
      (a): <b>{{nome}}</b>, CPF: <b>{{cpf}}</b>, da empresa: <b>{{razaoSocial}}</b>, CNPJ: <b>{{cnpj}}</b>, concluiu a
      capacitação para Realização de Trabalho em Altura, com carga horária de {{horas}}, realizado na
      data de {{dataCurso}}, conforme Diretriz Global de Capacitação Vale e PNR000069.
    </p>
  </div>


  <p style="position:absolute;top:568px;left:164px;white-space:nowrap" class="ft03">Alan Fabrício dos Santos Rocha</p>
  <p style="position:absolute;top:588px;left:184px;white-space:nowrap" class="ft03">Responsável da Instituição </p>
  <p style="position:absolute;top:608px;left:119px;white-space:nowrap" class="ft03">TrenySeg Treinamentos &amp;
    Documentações</p>
  <p style="position:absolute;top:628px;left:187px;white-space:nowrap" class="ft03">CNPJ: 27.211.266/0001-30</p>


  <p style="position:absolute;top:750px;left:181px;white-space:nowrap" class="ft03">Genisson Ramos Caxias</p>
  <p style="position:absolute;top:770px;left:162px;white-space:nowrap" class="ft03">Empregado (a) Capacitado (a)</p>


  <p style="position:absolute;top:402px;left:153px;white-space:nowrap" class="ft03">Alan Fabríco Dos Santos Rocha</p>
  <p style="position:absolute;top:420px;left:199px;white-space:nowrap" class="ft03">Responsável Técnico </p>
  <p style="position:absolute;top:440px;left:104px;white-space:nowrap" class="ft03">Instrutor / Técnico em Segurança do
    Trabalho</p>
  <p style="position:absolute;top:460px;left:109px;white-space:nowrap" class="ft03">MTE Nº: DF/000505 3 CPF:
    826.966.161-91</p>

  <p style="position:absolute;top:82px;left:90px;white-space:nowrap" class="ft07"><b>CAPACITAÇÃO RAC 01 </b></p>
  <p style="position:absolute;top:78px;left:358px;white-space:nowrap" class="ft07"><b>– TRABALHO EM ALTURA</b></p>
  <p style="position:absolute;top:328px;left:870px;white-space:nowrap" class="ft012">
    <b>Conteúdo Programático</b>
    <br>
    <br>
    <br>
    • Contexto e aplicabilidade do RAC 01;<br>
    • Requisitos para queda de pessoas;<br>
    • Requisitos para andaimes;<br>
    • Requisitos para escadas;<br>
    • Requisitos para equipamentos de <br>elevação de pessoas;<br>
    • Requisitos contra queda de objetos, <br> materiais ou ferramentas;<br>
    • Requisitos para capacitação.<br>
    <br><br>
    Cidade: {{cidade}}, {{dataCurso}}.


  </p>


</div>
