<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 17 - Ergonomia002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Conceitos e Definições;<br/>
    Definições de Ergonomia;<br/>
    Evolução, Avaliação e Diagnósticos Diferenciais;<br/>
    Características Psicofisiológicas dos Seres Humanos;<br/>
    O Conceito de Conforto e sua Subjetividade;<br/>
    Interpretação da NR 17, anexos, notas técnicas;<br/>
    Cronograma de Adequações;<br/>
    Ergonomia - Conceitos, Definições e Tipos;<br/>
    Postos de Trabalho Adequados e Inadequados;<br/>
    Apresentação de Trabalhos Realizados;<br/>
    Levantamento Fotográfico de Problemas e Sugestões;<br/>
    Relação Trabalho Patologias;<br/>
    Prevenção e Qualidade de Vida;<br/>
    Orientação, Postura, Ginástica Laborativa;<br/>
    Arranjo físico.<br/>
  </p>
</div>

