<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado Direção Defensiva002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Introdução à direção defensiva;<br/>
    Definição de direção defensiva;<br/>
    Direção perfeita ou dirigir com perfeição;<br/>
    Causas dos acidentes de trânsito;<br/>
    Como evitar colisões em curvas;<br/>
    Como evitar colisões com veículo de trás;<br/>
    Como evitar colisões com veículos em sentido contrário;<br/>
    Sono e a fadiga;<br/>
    A importância do uso do cinto de segurança;<br/>
    Álcool condições adversas do condutor;<br/>
    Condições adversas de tempo e luz;<br/>
    Condições adversas de passageiros;<br/>
    Relação condutor x trânsito;<br/>
    Relacionamento interpessoal no trânsito;<br/>
    Movimentação e operação de produtos perigosos;<br/>
    Direção ofensiva;<br/>
    Trânsito dentro da empresa;<br/>
    Infrações;<br/>
    Check List<br/>
    Resolução 57, 157 e 168.<br/>
  </p>
</div>
