form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.example-full-width {
  width: 50%;
}.example-full-width2 {
  width: 600px;
  height: 600px;
}


button{
  margin: 20px 15px 0px 0px;
}



table {
  width: 100%;
}


.edit {
  margin-right: 10px;
}

.edit > i {
  color: #212121;

}
.delete > i {
  color: #212121;

}
.example-form {
  min-width: 150px;
  max-width: 100px;
  width: 100%;
}

