<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 46px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 32px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 12px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 12px;
    line-height: 17px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1300px;height:918px;" class="inner">
  <img width="1300" height="919" src="assets/images/certificados/modelos/Certificado de NR 10 Remato002.png"
       alt="background image"/>
  <p style="position:absolute;top:121px;left:353px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D O</b></p>
  <p style="position:absolute;top:208px;left:166px;white-space:nowrap" class="ft01">Conteúdo Programático: </p>
  <p style="position:absolute;top:251px;left:29px;white-space:nowrap" class="ft02">1.Introdução à Segurança com
    Eletricidade.</p>
  <p style="position:absolute;top:268px;left:29px;white-space:nowrap" class="ft02">2.Riscos em Instalações e Serviços
    com Eletricidade:</p>
  <p style="position:absolute;top:286px;left:29px;white-space:nowrap" class="ft03">a) O Choque Elétrico, Mecanismos e
    Efeitos; <br/>b) Arcos Elétricos; Queimaduras e Quedas; <br/>c) Campos Eletromagnéticos. <br/>3. Técnicas de Análise
    de Risco. <br/>4. Medidas de Controle do Risco Elétrico: <br/>a) Dezenergização. <br/>b) Aterramento Funcional (TN /
    TT / IT); de Proteção; Temporário; <br/>c) Equipotencialização; <br/>d) Seccionamento Automático da Alimentação;
    <br/>e) Dispositivos a Corrente de Fuga; <br/>f) Extra Baixa Tensão; <br/>g) Barreiras e Invólucros; <br/>h)
    Bloqueios e Impedimentos; <br/>i) Obstáculos e Anteparos; <br/>j) Isolamento das Partes Vivas; <br/>k) Isolação
    Dupla ou Reforçada; <br/>l) Colocação Fora de Alcance; <br/>m) Separação Elétrica. <br/>5. Normas Técnicas
    Brasileiras - NBR da ABNT: NBR-5410, NBR 14039 e Outras; <br/>6. Regulamentações do MTE: <br/>a) NRs; <br/>b) NR-10
    (Segurança em Instalações e Serviços com Eletricidade); <br/>c) Qualificação; Habilitação; Capacitação e
    Autorização. <br/>7. EPC - Equipamentos de Proteção Coletiva. </p>
  <p style="position:absolute;top:274px;left:818px;white-space:nowrap" class="ft03">8. EPI - Equipamentos de Proteção
    <br/>Individual. <br/>9. Rotinas de Trabalho – Procedimentos </p>
  <p style="position:absolute;top:327px;left:818px;white-space:nowrap" class="ft03">a) Instalações Dezenergizadas<br/>b)
    liberação para Serviços; <br/>c) Sinalização; <br/>d) Inspeções de Áreas, Serviços, <br/>Ferramental e Equipamento;
    <br/>10. Documentação de Instalações <br/>Elétricas. </p>
</div>
