<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 11 - Amarração de Carga002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Introdução a movimentação de cargas; <br/>
    Estropos, eslingas e lingadas; <br/>
    Procedimentos administrativos; <br/>
    Acessórios de montagem; <br/>
    Legislação e normas nacionais e internacionais (ABNT, NRs); <br/>
    Sistemas de segurança; <br/>
    Termos técnicos; <br/>
    Montagem e instalação; <br/>
    Sinalização manual para movimentação de cargas (NBR 11463); <br/>
    Amarração de cargas; <br/>
    EPI´S; <br/>
    EPC´S. <br/>
  </p>
</div>


