<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 11 - Op. Escavadeira Hidráulica002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Noções sobre acidentes e doenças do trabalho decorrentes de exposição aos riscos existentes;<br/>
    Estudo do ambiente, das condições de trabalho, bem como dos riscos originados do processo produtivo;<br/>
    Princípios gerais de higiene do trabalho e de medidas de controle dos riscos;<br/>
    Equipamento de Proteção Individual;<br/>
    Noções sobre as legislações trabalhistas e previdenciárias relativas à Segurança e saúde no trabalho;<br/>
    Noções sobre Primeiros Socorros;<br/>
    Noções sobre Combate a Principio de Incêndios;<br/>
    Pontos de Apoio, de resistência e de potência;<br/>
    Perfil do Operador;<br/>
    Princípios da Estabilidade;<br/>
    Conhecendo os Sistemas;<br/>
    Controles e Ajustes;<br/>
    Dispositivos de Segurança;<br/>
    Operação da Máquina;<br/>
    Operação com Segurança;<br/>
    Inspeções antes do uso;<br/>
    Abastecimento;<br/>
    Cuidados ao dar a partida na maquina;<br/>
    Norma Regulamentadora NR 6, NR 11, NR 12;<br/>
    Higiene da maquina contra o covid 19<br/>
    Parte prática.<br/>
  </p>
</div>


