<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 34 - Maq. Rotativas002.png" alt="background image"/>
  <p style="position:absolute;top:181px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:249px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:292px;left:11px;white-space:nowrap" class="ft03">
    <b>Módulo Básico – Carga horária: 02 horas</b>
    <br/>
    Definições e Reconhecimento de Trabalhos a Quente;<br/>
    Dados estatísticos de perdas por tipo de incêndios;<br/>
    Classes do fogo;<br/>
    Sistemas de Alarmes e comunicação;<br/>
    Equipamentos de proteção coletiva e individual;<br/>
    Conhecimentos de  Prevenção e combate ao Principio de Incêndio;<br/>
    Monitoramento e Inspeção de áreas de trabalho a quente;<br/>
    Processos de autorização para trabalho a quente;<br/>
    Responsabilidades da vigilância Contra incêndios;<br/>
    Trabalho a quente em espaços confinados;<br/>
    Segurança na operação de soldagem e corte a quente;<br/>
    <b>Módulo Operações de Maquinas e ferramentas Rotativas  – Carga horária: 02 horas</b>
    <br/>
    Segurança no manuseio ferramentas e máquinas Rotativas.<br/>
  </p>
</div>
