<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 18 - Op. PTA002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:369px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:412px;left:11px;white-space:nowrap" class="ft03">
    Utilizar corretamente os equipamentos específicos;<br/>
    Práticas gerais de trabalho em altura;<br/>
    Trabalho em altura;<br/>
    Teorias e práticas sobre equipamentos de segurança;<br/>
    Tipos de equipamento de segurança;<br/>
    EPI / EPC;<br/>
    Funcionamento de equipamentos de segurança;<br/>
    Inspeção dos equipamentos e itens de segurança;<br/>
    Tipos de recursos utilizados;<br/>
    Plataformas elevatórias;<br/>
    Benefícios da prevenção de acidentes do trabalho em altura;<br/>
    Acesso e riscos aos locais de trabalho em altura;<br/>
    Procedimentos de liberação;<br/>
    Permissão para realização da atividade;<br/>
    NR 11;<br/>
    Parte prática.<br/>
  </p>
</div>
