<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 11 - Op. Prensa Enfardadeira002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:369px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:412px;left:11px;white-space:nowrap" class="ft03">
    Legislação, Normas Técnicas e Convenções Coletivas;<br/>
    Princípios e fundamentos para a proteção ao trabalho em máquinas e equipamentos;<br/>
    Participação da CIPA e dos trabalhadores;<br/>
    Procedimentos de Segurança na operação, na manutenção e na troca de ferramental de prensas e máquinas similares;<br/>
    Noções básicas de Equipamentos de Proteção Coletiva (EPC) aplicados em prensas e em máquinas similares;<br/>
    Monitoramento de Segurança em Máquinas de Conformação (Válvulas de segurança / Blocos de Comando Eletro-hidráulico);<br/>
    Dispositivos Similares;<br/>
    Calços de Proteção / Retenção Mecânica);<br/>
    Proteções mecânicas fixas e móveis (incluso ferramenta fechada);<br/>
    Sensores e Relês de segurança;<br/>
    Sistemas de Parada de Emergência;<br/>
    Intertravamentos de Segurança;<br/>
    Comandos Bimanuais;<br/>
    Estrutura Construtiva das Prensas e das máquinas Similares e sua relação com as condições de segurança e com a exposição aos riscos;<br/>
    Sistemas Alimentadores;<br/>
    Dispositivos de acionamento.<br/>
  </p>
</div>
