<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .linha {
    font-size: 21px;
    font-family: ABCDEE+Trebuchet MS;
    color: #000000;
  }

  .info {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>


<div #page1div id="page1div" style="position:relative;width:1300px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="../../../../../../assets/images/certificados/modelos/Certificado NR 6 - EPI´S001.png"
       alt="background image"/>

  <div style="position:absolute;top:40px; padding: 15px">

    <p style="text-align:center;" class="titulo"><b>CERTIFICADO</b></p>

    <br>
    <br>
    <br>
    <br>

    <p style="text-align:center;" class="subtitulo"><b>DE CONCLUSÃO DE TREINAMENTO</b></p>

    <br>
    <br>

    <p style="text-align:center; text-transform: uppercase" class="subtitulo"><b>{{nome}} - CPF: {{cpf}}</b></p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p class="texto">
      Empregado da empresa: <b>{{razaoSocial}}</b>, CNPJ: <b>{{cnpj}}</b>, participou do treinamento
      <b>NR 6 EPI – EQUIPAMENTO PROTEÇÃO INDIVIDUAL</b>,   conforme o item 6.6.1 letra d , obtendo aproveitamento satisfatório,
      ministrado pela empresa: <b>TRENYSEG TREINAMENTOS & DOCUMENTAÇÕES</b>,
      CNPJ: <b>27.211.266/0001-30</b>, carga horária de {{horas}} horas, válido por um (1) ano.
    </p>

    <br>
    <br>
    <br>
    <br>

    <p style="text-align:right" class="texto">Cidade: {{cidade}}, {{dataCurso}}.</p>

  </div>




  <p style="position:absolute;top:779px;left:38px;white-space:nowrap" class="linha">
    ______________________________________</p>
  <p style="position:absolute;top:800px;left:86px;white-space:nowrap" class="info">Alan Fabrício dos Santos Rocha</p>
  <p style="position:absolute;top:820px;left:66px;white-space:nowrap" class="info">Técnico em Segurança do Trabalho</p>
  <p style="position:absolute;top:840px;left:86px;white-space:nowrap" class="info">Instrutor de treinamentos SST</p>
  <p style="position:absolute;top:860px;left:136px;white-space:nowrap" class="info">MTE: DF/000505.3</p>
  <p style="position:absolute;top:779px;left:935px;white-space:nowrap" class="linha">_______________________________</p>
  <p style="position:absolute;top:800px;left:1000px;white-space:nowrap;font-size: 12px" class="info">{{nome}}</p>

  <p style="position:absolute;top:779px;left:454px;white-space:nowrap" class="linha">____________________________________</p>
  <p style="position:absolute;top:800px;left:491px;white-space:nowrap" class="info">Melquezedeque do Vale Nunes</p>
  <p style="position:absolute;top:820px;left:491px;white-space:nowrap" class="info">Eng. de Segurança do Trabalho</p>
  <p style="position:absolute;top:840px;left:522px;white-space:nowrap;" class="ft04">CREA/CONFEA: 240920706-5 </p>

</div>




