<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 12 - Prot. Maq. Equipamentos002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Identificação dos riscos associados com cada máquina e equipamento e as proteções especificas contra cada um deles.<br/>
    Funcionamento das proteções; como e por que devem ser usadas.<br/>
    Equipamentos Elétricos de Segurança e Equipamentos Hidráulicos de Segurança.<br/>
    Como e em que circunstâncias uma proteção pode ser removida, e por quem, sendo na maioria dos casos, somente o pessoal de inspeção ou manutenção.<br/>
    O que fazer, por exemplo, contatar o supervisor, se uma proteção foi danificada ou se perdeu sua função, deixando de garantir uma segurança adequada.<br/>
    Os princípios de segurança na utilização da máquina ou equipamento;<br/>
    Segurança para riscos mecânicos, elétricos e outros relevantes.<br/>
    Permissão de trabalho.<br/>
    Sistema de bloqueio de funcionamento da máquina e equipamento durante operações de inspeção, limpeza, lubrificação e manutenção.<br/>
    Principais áreas de perigo.<br/>
    Medidas e dispositivos de segurança para evitar acidentes;<br/>
    Proteções - portas, e distancias de segurança.<br/>
    Exigências mínimas de segurança previstas nesta Norma.<br/>
    Comando manual e bi-manual.<br/>
    Introdução a Análise de Acidentes.<br/>
    Noções de Primeiro Socorros.<br/>
    Noções de Combate a incêndio.<br/>
  </p>
</div>

