<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 5 - CIPA.002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:169px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:212px;left:11px;white-space:nowrap" class="ft03">
    Segurança e a Saúde do Trabalhador;<br/>
    Organização da CIPA;<br/>
    Acidentes de Trabalho;<br/>
    Legislação Trabalhista e Previdenciária;<br/>
    Higiene do Trabalho;<br/>
    Riscos de Acidentes;<br/>
    Verificação de Segurança;<br/>
    Classificação dos Riscos Ambientais;<br/>
    Mapeamento de Riscos;<br/>
    Investigação e Análise de Acidentes;<br/>
    Equipamento de Proteção Individual;<br/>
    Prevenção e Combate a Incêndio;<br/>
    Noções de Primeiros Socorros;<br/>
  </p>
</div>

