<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 54px;
    font-family: Arial, Bold;
    color: #2c3b43;
  }

  .ft01 {
    font-size: 42px;
    font-family: Times New Roman;
    color: #ff0000;
  }

  .ft02 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  .ft03 {
    font-size: 18px;
    line-height: 21px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page2-div" style="position:relative;width:1297px;height:918px;" class="inner">
  <img width="1300" height="919"
       src="assets/images/certificados/modelos/Certificado NR 23 - Combate a Incêndio002.png" alt="background image"/>
  <p style="position:absolute;top:101px;left:365px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D
    O</b></p>
  <p style="position:absolute;top:269px;left:11px;white-space:nowrap" class="ft01">Conteúdo Programático:</p>
  <p style="position:absolute;top:312px;left:11px;white-space:nowrap" class="ft03">
    Teoria do fogo<br/>
    Propagação do fogo<br/>
    Classes de incêndio<br/>
    Métodos de extinção<br/>
    Agentes extintores<br/>
    Equipamentos de combate a incêndio<br/>
    Equipamentos de detecção, alarme e comunicação.<br/>
    Abandono de área.<br/>
    Nações de primeiros socorros<br/>
  </p>
</div>


