<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 22px;
    font-family: Arial;
    color: #000000;
  }

  .ft01 {
    font-size: 22px;
    font-family: Arial, Bold;
    color: #000000;
  }

  .ft02 {
    font-size: 40px;
    font-family: Arial, Bold;
    color: #000000;
  }

  .ft03 {
    font-size: 19px;
    font-family: ABCDEE+Trebuchet MS;
    color: #000000;
  }

  .ft04 {
    font-size: 18px;
    font-family: Arial;
    color: #000000;
  }

  -->
</style>

<div id="page1-div" style="position:relative;width:1300px;height:918px;" class="inner">
  <img width="1300" height="919" src="assets/images/certificados/modelos/Certificado de NR 10 Remato001.png"
       alt="background image"/>

  <div style="position:absolute;top:40px; padding: 15px">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p style="text-align:center;" class="subtitulo"><b>{{nome}} - CPF: {{cpf}}</b></p>

    <br>
    <br>


    <p class="texto">
      Concluiu com aproveitamento satisfatório o <b>Treinamento de Reciclagem de NR 10, Segurança em Instalações e
      Serviços em Eletricidade</b> em conformidade com a NR - 10, item 10.8 e anexo III, Portaria nº 126 de 03/06/2005 da Lei nº
      6514 de 22/12/1977, do MTE – Ministério do Trabalho e Emprego, ministrado pela Empresa: <b>TrenySeg Treinamentos &
      Documentações</b>, CNPJ: <b>27.211.266/0001-30</b>, com carga horária de vinte (20) horas, validade de dois (02)
      anos.
    </p>
    <br>
    <br>
    <p style="text-align:right" class="texto">{{cidade}}, Data: {{dataCurso}}.</p>

  </div>

  <app-assinaturas [nome]="nome" [assinatura1]="assinatura1" [assinatura2]="assinatura2"></app-assinaturas>

</div>
