<style type="text/css">
  <!--
  p {
    margin: 0;
    padding: 0;
  }

  .ft00 {
    font-size: 48px;
    font-family: Arial, Bold;
    color: #000000;
  }

  .ft01 {
    font-size: 34px;
    font-family: Arial;
    color: #ff0000;
  }

  .ft02 {
    font-size: 21px;
    font-family: ABCDEE+Trebuchet MS;
    color: #000000;
  }

  .ft03 {
    font-size: 21px;
    line-height: 26px;
    font-family: ABCDEE+Trebuchet MS;
    color: #000000;
  }

  -->
</style>



<div id="page2-div" style="position:relative;width:1300px;height:918px;" class="inner">
  <img width="1300" height="919"  src="assets/images/certificados/modelos/Certificado NR 18002.png" alt="background image"/>
  <p style="position:absolute;top:187px;left:353px;white-space:nowrap" class="ft00"><b>C E R T I F I C A D O</b>
  </p>
  <p style="position:absolute;top:332px;left:16px;white-space:nowrap" class="ft01">
    Conteúdo Programático: </p>
  <p style="position:absolute;top:387px;left:11px;white-space:nowrap" class="ft03">Informações sobre as condições e meio ambiente do trabalho;<br/>Riscos inerentes as funções;<br/>Uso adequado do Equipamento de Proteção Individual (EPI);<br/>Informações sobre os Equipamentos de Proteção Coletiva (EPC) no canteiro de Obra;<br/>Prevenção de Acidentes do trabalho;<br/>Realização do exame médico admissional (sua importância);<br/>Ordem de serviço;<br/>Higiene pessoal e laboral;<br/>Maquinas e equipamentos (qualificação e autorização na operação);<br/>Proibições legais.<br/>Noções de Primeiros Socorros;
  </p>
</div>

